* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flex-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

header {
  justify-content: flex-end;
}

.links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link:nth-child(odd) {
  padding-right: 15px;
}

.hero {
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.gallery {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.gallery img {
  padding: 15px;
}

.cards {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

.element {
  width: 200px;
  height: 200px;
  border-style: solid;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  margin: 10px 0;
}

footer {
  padding: 10px 0;
}

.middle {
  flex-grow: 1;
  text-align: center;
}
